[mysqld]
# Karakterkódolás
character-set-server = utf8mb4
collation-server = utf8mb4_hungarian_ci
init-connect = 'SET NAMES utf8mb4'

# Időzóna
default-time-zone = '+01:00'

# Egyéb beállítások
max_allowed_packet = 64M
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4